<div class="card-box">
    <a href="#" class="pull-right btn btn-default btn-sm waves-effect waves-light">View All</a>
    <h4 class="text-dark header-title m-t-0">Recent Orders</h4>

    <p class="text-muted m-b-30 font-13">
        Use the button classes on an element.
    </p>

    <div class="table-responsive">
        <table class="table table-actions-bar m-b-0">
            <thead>
            <tr>
                <th></th>
                <th>Item Name</th>
                <th>Up-Down</th>
                <th style="min-width: 80px;">Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span data-plugin="peity-bar" data-colors="#5fbeaa,#5fbeaa" data-width="80" data-height="30"
                          style="display: none;">5,3,9,6,5,9,7,3,5,2</span>
                    <svg class="peity" height="30" width="80">
                        <rect fill="#5fbeaa" x="0.8" y="13.333333333333332" width="6.4"
                              height="16.666666666666668"></rect>
                        <rect fill="#5fbeaa" x="8.8" y="20" width="6.399999999999999" height="10"></rect>
                        <rect fill="#5fbeaa" x="16.8" y="0" width="6.399999999999999" height="30"></rect>
                        <rect fill="#5fbeaa" x="24.8" y="10" width="6.399999999999999" height="20"></rect>
                        <rect fill="#5fbeaa" x="32.8" y="13.333333333333332" width="6.400000000000006"
                              height="16.666666666666668"></rect>
                        <rect fill="#5fbeaa" x="40.8" y="0" width="6.400000000000006" height="30"></rect>
                        <rect fill="#5fbeaa" x="48.8" y="6.666666666666668" width="6.400000000000006"
                              height="23.333333333333332"></rect>
                        <rect fill="#5fbeaa" x="56.8" y="20" width="6.400000000000006" height="10"></rect>
                        <rect fill="#5fbeaa" x="64.8" y="13.333333333333332" width="6.400000000000006"
                              height="16.666666666666668"></rect>
                        <rect fill="#5fbeaa" x="72.8" y="23.333333333333336" width="6.400000000000006"
                              height="6.666666666666664"></rect>
                    </svg>
                </td>
                <td><img src="assets/images/products/iphone.jpg" class="thumb-sm pull-left m-r-10" alt=""> Apple iPhone
                </td>
                <td><span class="text-custom">+$230</span></td>
                <td>
                    <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                    <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                </td>
            </tr>

            <tr>
                <td><span data-plugin="peity-line" data-fill="#5fbeaa" data-stroke="#5fbeaa" data-width="80"
                          data-height="30" style="display: none;">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
                    <svg class="peity" height="30" width="80">
                        <polygon fill="#5fbeaa"
                                 points="0 0.5 0 0.5 8.88888888888889 12.92857142857143 17.77777777777778 25.357142857142858 26.666666666666668 17.071428571428573 35.55555555555556 21.214285714285715 44.44444444444444 17.071428571428573 53.333333333333336 29.5 62.22222222222223 12.92857142857143 71.11111111111111 21.214285714285715 80 8.785714285714285 80 0.5"></polygon>
                        <polyline fill="none"
                                  points="0 0.5 8.88888888888889 12.92857142857143 17.77777777777778 25.357142857142858 26.666666666666668 17.071428571428573 35.55555555555556 21.214285714285715 44.44444444444444 17.071428571428573 53.333333333333336 29.5 62.22222222222223 12.92857142857143 71.11111111111111 21.214285714285715 80 8.785714285714285"
                                  stroke="#5fbeaa" stroke-width="1" stroke-linecap="square"></polyline>
                    </svg>
                </td>
                <td><img src="assets/images/products/samsung.jpg" class="thumb-sm pull-left m-r-10" alt=""> Samsung
                    Phone
                </td>
                <td><span class="text-danger">-$154</span></td>
                <td>
                    <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                    <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                </td>
            </tr>

            <tr>
                <td><span data-plugin="peity-line" data-fill="#fff" data-stroke="#5fbeaa" data-width="80"
                          data-height="30" style="display: none;">5,3,9,6,5,9,7,3,5,2</span>
                    <svg class="peity" height="30" width="80">
                        <polygon fill="#fff"
                                 points="0 29.5 0 13.38888888888889 8.88888888888889 19.833333333333336 17.77777777777778 0.5 26.666666666666668 10.166666666666668 35.55555555555556 13.38888888888889 44.44444444444444 0.5 53.333333333333336 6.944444444444443 62.22222222222223 19.833333333333336 71.11111111111111 13.38888888888889 80 23.055555555555557 80 29.5"></polygon>
                        <polyline fill="none"
                                  points="0 13.38888888888889 8.88888888888889 19.833333333333336 17.77777777777778 0.5 26.666666666666668 10.166666666666668 35.55555555555556 13.38888888888889 44.44444444444444 0.5 53.333333333333336 6.944444444444443 62.22222222222223 19.833333333333336 71.11111111111111 13.38888888888889 80 23.055555555555557"
                                  stroke="#5fbeaa" stroke-width="1" stroke-linecap="square"></polyline>
                    </svg>
                </td>
                <td><img src="assets/images/products/imac.jpg" class="thumb-sm pull-left m-r-10" alt=""> Apple iPhone
                </td>
                <td><span class="text-custom">+$1850</span></td>
                <td>
                    <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                    <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                </td>
            </tr>

            <tr>
                <td><span data-plugin="peity-pie" data-colors="#5fbeaa,#ebeff2" data-width="30" data-height="30"
                          style="display: none;">1/5</span>
                    <svg class="peity" height="30" width="30">
                        <path d="M 15.000000000000002 0 A 15 15 0 0 1 29.265847744427305 10.36474508437579 L 15 15"
                              fill="#5fbeaa"></path>
                        <path d="M 29.265847744427305 10.36474508437579 A 15 15 0 1 1 14.999999999999996 0 L 15 15"
                              fill="#ebeff2"></path>
                    </svg>
                </td>
                <td><img src="assets/images/products/macbook.jpg" class="thumb-sm pull-left m-r-10" alt=""> Apple iPhone
                </td>
                <td><span class="text-danger">-$560</span></td>
                <td>
                    <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                    <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                </td>
            </tr>

            <tr>
                <td><span data-plugin="peity-bar" data-colors="#5fbeaa,#ebeff2" data-width="80" data-height="30"
                          style="display: none;">5,3,9,6,5,9,7,3,5,2</span>
                    <svg class="peity" height="30" width="80">
                        <rect fill="#5fbeaa" x="0.8" y="13.333333333333332" width="6.4"
                              height="16.666666666666668"></rect>
                        <rect fill="#ebeff2" x="8.8" y="20" width="6.399999999999999" height="10"></rect>
                        <rect fill="#5fbeaa" x="16.8" y="0" width="6.399999999999999" height="30"></rect>
                        <rect fill="#ebeff2" x="24.8" y="10" width="6.399999999999999" height="20"></rect>
                        <rect fill="#5fbeaa" x="32.8" y="13.333333333333332" width="6.400000000000006"
                              height="16.666666666666668"></rect>
                        <rect fill="#ebeff2" x="40.8" y="0" width="6.400000000000006" height="30"></rect>
                        <rect fill="#5fbeaa" x="48.8" y="6.666666666666668" width="6.400000000000006"
                              height="23.333333333333332"></rect>
                        <rect fill="#ebeff2" x="56.8" y="20" width="6.400000000000006" height="10"></rect>
                        <rect fill="#5fbeaa" x="64.8" y="13.333333333333332" width="6.400000000000006"
                              height="16.666666666666668"></rect>
                        <rect fill="#ebeff2" x="72.8" y="23.333333333333336" width="6.400000000000006"
                              height="6.666666666666664"></rect>
                    </svg>
                </td>
                <td><img src="assets/images/products/lumia.jpg" class="thumb-sm pull-left m-r-10" alt=""> Lumia iPhone
                </td>
                <td><span class="text-custom">+$230</span></td>
                <td>
                    <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                    <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>